<link rel="import" href="bower_components/iron-icon/iron-icon.html">
<link rel="import" href="bower_components/paper-card/paper-card.html">
<style>
.red, .green, .blue{
border-bottom: 1px solid;
border-left: 1px solid;
border-right: 1px solid;
margin: 0px 0px;
padding:5px 0px 5px 0px;
background-repeat: no-repeat;
background-position: 10px center;
}
.blue {
color: #00529B;
background-color: #BDE5F8;
}
.green {
color: #4F8A10;
background-color: #DFF2BF;
}
.red {
color: #D8000C;
background-color: #FFBABA;
}
.invoices .hold{
	color: #D8000C;
}
.invoices .inprogress{
color: #00529B;
}
.invoices .closed{
color: #4F8A10;
}
.expand{
	display:block;
}
.collapse{
	display:none;
}
</style>

<px-card icon='demo-icon' header-text='ABC Corporation' chevron>
	<div ng-controller="PredixDataCtrl">   
		<div style="width:100%;float:left;">
			<div style="    padding: 5px 0px 5px 0px;    background-color: #5f5c5c;    color: white;">
				<table  style="    width: 100%;    margin: 0;    padding: 0;    border: none;text-align:left;"><tr><th style="width:10%;">PO Num </th><th style="width:30%;">Issue Date</th><th style="width:10%;"> Amount</th><th style="width:100px;">Invoices </th><th style="width:25px;"> </th></tr></table>
			</div>
			<div ng-repeat="item in items">		
				<div  ng-class="item.postatus">
					<table  style="    width: 100%;    margin: 0;    padding: 0;    border: none;"><tr><td style="width:10%;">{{item.ponum}} </td><td style="width:30%;">{{item.podate}}</td><td style="width:10%;"> {{item.poamount}}</td><td style="width:100px;">{{item.invoices.length}} </td><td style="width:25px;"><i ng-class="appliedExpandIconClass(item.expanded)" style="cursor:pointer;" class="fa fa-chevron-down pull-right" ng-click="toggleClass(item)"></i> </td></tr></table>
					<div ng-class="appliedExpandClass(item.expanded)" style="background-color:#fdfdfd;padding:5px 5px;border: 1px solid;">				
						<fieldset style="border:1px solid;">
							<legend>Invoices</legend>
							<table class="invoices"  style="width:100%;margin:0;padding:0;border:none;text-align:left;">
								<thead><tr><th style="width:50px;">Sr.No.</th><th style="width:10%;">Inv No.</th><th style="width:25%;">Date</th><th style="width:10%;">Amount</th><th style="width:100px;">Status</th><th>Comment</th></tr></thead>
								<tbody>
									<tr ng-repeat="invoice in item.invoices" ng-class="invoice.status">
										<td style="width:50px;">{{$index + 1}}</td><td style="width:10%;">{{invoice.num}} </td><td style="width:25%;">{{invoice.date}}</td><td style="width:10%;"> {{invoice.amount}}</td><td style="width:100px;"> {{invoice.statustext}} </td><td>{{invoice.comment}} </td>
									</tr>
								</tbody>
							</table>
						</fieldset>
					</div>
				</div>
			</div> 
		</div>		
		
	</div>
	
 </px-card>
 